<!DOCTYPE html>
<html>
<head>
    <title>Mentra</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">


        <div>Enter the topic, domain, skill, or exam you want to be assessed on:</div>
        <br>
        <form method="POST" action="/question">
            <div class="form-group">
                <div>
                    <input type="text"
                    id="domain"
                    name="domain"
                    value="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
</body>
</html>